<h1> <%= @hike.name%></h1>

<br>
<br>
<br>
<p>Hike Name:<%= @hike.name %> </p>
<p>Hike Location: <%= @hike.location %> </p>
<p>Hike Milage: <%= @hike.milage %> miles </p>
<p>Hike Partners:<%= @hike.join_by %> </p>

<% if current_user == @hike.user%>
<p><a href="/hikes/<%= @hike.id%>/edit">Edit Hike</a></p>


<form action="/hikes/<%= @hike.id%>/delete" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit"  value="Delete">
</form>
<%end%>